.descr {
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.63;
    letter-spacing: 0.64px;
    text-align: left;
    color: rgba(40, 40, 40, 0.66);
    &_mt45 {
        margin-top: 45px;
    }
    &_mt19-cntr {
        margin-top: 19px;
        text-align: center;
    }
    &_mt36 {
        margin-top: 36px;
    }
    &_mt48_cntr_w650  {
        display: block;
        margin: 0 auto;
        margin-top: 48px;
        text-align: center;
        width: 650px;
    }
    &_signup {
        display: flex;
        justify-content: center;
        margin-top: 52px;
        font-size: 16px;
        font-weight: normal;
        text-align: left;
        color: rgba(246, 245, 243, 0.6);
        & a {
            color: rgba(246, 245, 243, 0.6);
            text-decoration: underline;
        }
    }
}