.features-2 {
    min-height: 754px;
    padding-top: 108px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    & img {
        margin-top: 93px;
    }
}