.promo {
    min-height: 813px;
    padding-top: 225px;
    background: url('../img/promo_bg.jpg') center (center/cover) no-repeat;
    &__header {
        font-size: 60px;
        font-weight: 100;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.25;
        letter-spacing: 2.4px;
        text-align: center;
        color: #282828;
    }
    &__play {
        margin: 0 auto;
        margin-top: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 59px;
        height: 59px;
        border-radius: 100%;
        background-color: #323969;
        cursor: pointer;
        & img {
            padding-left: 5px;
        }
    }
    &__note {
        margin-top: 19px;
        font-size: 14px;
        font-weight: normal;
        text-align: center;
        color: rgba(40, 40, 40, 0.6);
    }
}