.title {
    margin-top: 25px;
    font-size: 40px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: 1.6px;
    text-align: left;
    color: #282828;
    &_platforms {
        margin-top: 16px;
        & span {
            color: $main-color;
        }
    }
    &_features {
        margin-top: 15px;
        text-align: center;
    }
    &_signup {
        margin-top: 15px;
        text-align: center;
        color: #ffffff;
    }
}

.subtitle {
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    //line-height: 3.13;
    letter-spacing: 3.2px;
    text-align: left;
    text-transform: uppercase;
    color: $main-color;
    &_features {
        text-align: center;
    }
}